@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&family=Zen+Loop:ital@0;1&display=swap');

.card-item img {
    width: 300px;
    height: 350px;
}

.card-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Dosis', sans-serif;
}

.card-item p {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #704f46;
}

.card-item span {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #71996a;
}

.count-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
}     


.count-item-align {
    display: flex;
    flex-direction: row;
}

.detail-btn {
    font-family: 'Dosis', sans-serif;
    text-transform: none;
    text-decoration: none;
    font-weight: bold;
    background-color: #71996a;
    color: #eddea3;
    width: 100%;
}

.card-item-btn {
    font-family: 'Dosis', sans-serif;
    text-transform: none;
    background-color: #704f46;
    color: #eddea3;
    font-weight: bold;
    border-radius: 25px;
    padding: 5px;
    width: 100%;
}
