.navbar{
    background-color: #71996a;
    font-weight: bold;
    width: auto;
    border-bottom: 1px solid #ccc;
}

.container-logo{
    width: 120px;

}

.container-logo img {
    width: 100%;
}

.btn-navbar {
    align-items: center;
    color: #eddea3;
    font-size: 15px;    
    font-family: sans-serif;
    cursor: pointer;
    text-decoration: none;
}

.btn-navbar > svg{
    color: #eddea3;
}

.btn-navbar:hover {
    color: #ebceac;
    letter-spacing: 1px;
    font-weight: bold;
}

.btn-cart {
    position: relative;
    padding-right: 0;
    float: right;
}


.item-cart-prod {
    float: left;
    width: 355px;
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.cart-prod__image {
    width: 20%;
}

.cart-prod__image img {
    width: 100%;
}

.cart-prod__info {
    padding: 5px 15px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.cart-prod__action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.cart-prod__action button {
    background: none;
    border: none;
}

.cart-prod__info p {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
}

.cart-prod__info span {
    font-size: 14px;
    margin-top: 0px;
}
.container-item-list-cart {
    font-family: 'Dosis', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.item-cart-prod:nth-last-child(1) {
    border: none;
}

.container-item-list-cart > p {
    font-weight: 750;
    text-align: center;
}

.container-item-list-cart > a {
    text-decoration: none;
    color: #edcc9b;
    font-weight: bold;
    background: #704f46;
    padding: 10px 20px;
    text-align: center;
    border-radius: 50px;
    font-size: 15px;
}
