.navbar{
    background-color: #71996a;
    font-weight: bold;
    width: auto;
    border-bottom: 1px solid #ccc;
}

.container-logo{
    width: 120px;

}

.container-logo img {
    width: 100%;
}

.btn-navbar {
    align-items: center;
    color: #eddea3;
    font-size: 18px;    
    font-family: sans-serif;
    margin: 20px;
    padding: 10px;
    cursor: pointer;
}

.btn-navbar:hover {
    color: #ebceac;
    letter-spacing: 1px;
    font-weight: bold;
}

.btn-cart {
    position: relative;
    padding-right: 0;
    float: right;
}