.footer-container {
    background-color: #704f46;
    width: 100%;
    position: relative;
    bottom: 0;
    color: #eddea3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.footer-container a {
    color: #eddea3;
}