@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&family=Zen+Loop:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&family=Zen+Loop:ital@0;1&display=swap');


.App {
  text-align: center;
  font-family: 'Zen Loop';
  font-size: 26px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.general-container {
  width: 100%;
  margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.banner-header {
  background-color: #704f46;
  width: 100%;
  font-family: 'Zen Loop';
  font-size: 25px;
  font-weight: bold;
  color: #ede6e4;
  margin-top: 0px;
}
.banner-header:hover{
  cursor: pointer;
  letter-spacing: .6px;
}

.item-detail img {
  margin-top: 5px;
  width: 300px;
  height: 350px;
}

.item-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Dosis', sans-serif;
}


.item-detail h2, p {
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #704f46;
}

.item-detail span {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #71996a;
}

.title {
  font-family: 'Dosis', sans-serif;
  color: #704f46;
}

.contact_container {
  display: inline-flex;
  justify-content: left;
  font-family: 'Dosis', sans-serif;
  color: #704f46;
  margin-left: 10px;
}

.contact_form label {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Dosis', sans-serif;
  color: #704f46;
}

.col-cart-table__head {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.col-cart-table__head h2 {
  font-size: 14px;
  width: 20%;
}

.cart-table__content {
  display: flex;
}
.cart-table__content img {
  width: 250px;
}

.cart-table__content-title {
  width: 30%;
}

.cart-table__content-price, .cart-table__content-quantity {
  width: 20%;
}
.cart-table__content > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

.cart-table__content-title {
  flex-direction: column;
}

.cart-footer {
  display: flex;
  justify-content: space-between;
}

.cart-checkout-details button {    
  font-family: 'Dosis', sans-serif;
  text-transform: none;
  background-color: #704f46;
  color: #eddea3;
  font-weight: bold;
  border-radius: 25px;
  padding: 8px;
  width: 100%;
} 


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
