@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&family=Zen+Loop:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&family=Zen+Loop:ital@0;1&display=swap');


.App {
  text-align: center;
  font-family: 'Zen Loop';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.general-container {
  width: 100%;
  margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.banner-header {
  background-color: #704f46;
  width: 100%;
  font-family: 'Zen Loop';
  font-size: 25px;
  font-weight: bold;
  color: #ede6e4;
  margin-top: 0px;
}
.banner-header:hover{
  cursor: pointer;
  text-transform: capitalize;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
